.HEY {color:DarkOrange ;
font-size: 47px;
font-family: "Special Elite";
text-align: center;
transition: 2s;}
body {color:Pink;}
.p-bisque {color:bisque}
h1 {font-family: "Luckiest Guy";
font-size: 64px;
text-align: center;
text-shadow: 1px 1px 2px black, 0 0 40px PaleVioletRed, 0 0 5px darkblue;}
body {background: linear-gradient(to bottom right, #33ccff 0%, #66ff99 100%);}
